# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Packaging
*.egg-info/
dist/
build/

# Tests / tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Datasets
datasets/*
!datasets/sensor/
datasets/sensor/*
!datasets/sensor/2d/
datasets/sensor/2d/*
!datasets/sensor/2d/33/
!datasets/sensor/2d/33/**

outputs/*
